@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./typography.scss";

:root {
  --primary-color: #ca3b4c;
  --accent-green: #21dc3f;
  --text-color: #25242c;
  --text-grey: #858585;
  --text-meta-color: #dddddd;
  --accent-background: #fbfaf8;
  --background: #fbfaf8;
  --white: #fff;
  --surface-background: #25242c;
  --schedule-border: #ededed;
  --separator-color: #a3aed0;
}

body {
  background: var(--background);
  margin: 0;
}

* {
  font-family: "Roboto";
}

html {
  overflow-y: scroll;
}
