.typography {
  &__menu {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
  }
  &__menu-upper {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;

    @media screen and (max-width: 768px) {
      font-weight: 400;
    }
  }
  &__mail {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
  }
  &__button {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__title {
    &__1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 100%;

      @media screen and (max-width: 1600px) {
        font-size: 80px;
      }

      @media screen and (max-width: 1280px) {
        font-size: 54px;
      }

      @media screen and (max-width: 768px) {
        font-size: 34px;
        line-height: 120%;
      }
    }

    &__2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 100%;

      @media screen and (max-width: 1280px) {
        font-size: 42px;
      }
    }

    &__3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 120%;

      @media screen and (max-width: 768px) {
        font-size: 30px;
      }

      @media screen and (max-width: 480px) {
        font-size: 24px;
      }
    }

    &__4 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;

      @media screen and (max-width: 1280px) {
        font-size: 24px;
      }
    }

    &__4-2 {
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }

      @media screen and (max-width: 480px) {
        font-size: 20px;
      }
    }

    &__5 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;

      @media screen and (max-width: 1280px) {
        font-size: 20px;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 140%;
      }
    }
    &__6 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 140%;
      }
    }
    &__7 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
    }
    &__7-2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
    }
    &__7-3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0px;
      }
    }
    &__8 {
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__text {
    &__1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

    &__2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    &__2-1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: normal;

      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
    &__2-2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: normal;

      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }

    &__3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
    &__3-2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
    }

    &__4 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &__5 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;

      @media screen and (max-width: 1280px) {
        font-size: 18px;
      }
    }

    &__6 {
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }

  &__breadcrumbs {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    @media screen and (max-width: 1920px) {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
